image:
  repository: otel/opentelemetry-collector

mode: deployment

config:
  exporters:
    otlphttp:
      endpoint: http://tempo:4318
  receivers:
    jaeger: null
    prometheus: null
    zipkin: null
  service:
    pipelines:
      traces:
        receivers: [otlp]
        exporters: [otlphttp]
      metrics: null
      logs: null
