image:
  repository: otel/opentelemetry-collector

mode: deployment

config:
  receivers:
    otlp:
      protocols:
        http:
          endpoint: 0.0.0.0:4318
    jaeger: null
    prometheus: null
    zipkin: null
  exporters:
    debug:
      verbosity: detailed
    otlp:
      endpoint: tempo:4317
      tls:
        insecure: true
  service:
    pipelines:
      logs: null
      metrics: null
      traces:
        receivers:
        - otlp
        exporters:
        - otlp
        - debug
    telemetry:
      metrics:
        readers:
        - pull:
            exporter:
              prometheus:
                host: 0.0.0.0
