image:
  repository: otel/opentelemetry-collector

mode: deployment

config:
  receivers:
    debug:
      verbosity: detailed
    otlp:
      protocols:
        http:
          endpoint: 0.0.0.0:4318
  exporters:
    otlp:
      endpoint: tempo:4317
      tls:
        insecure: true
  service:
    pipelines:
      traces:
        receivers:
        - otlp
        exporters:
        - otlp
        - debug
