image:
  repository: otel/opentelemetry-collector

mode: deployment

config:
  receivers:
    otlp:
      protocols:
        http:
          endpoint: 0.0.0.0:4318
  exporters:
    otlphttp:
      endpoint: http://tempo:4318
  service:
    pipelines:
      traces:
        receivers: [otlp]
        exporters: [otlphttp]
