apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: network

helmCharts:
- name: metallb
  repo: https://metallb.github.io/metallb
  version: 0.15.3
  releaseName: metallb
  valuesFile: values.yaml

resources:
- ip-addresspool.yaml
