renovate:
  extraEnvVars:
  - name: RENOVATE_USERNAME
    value: "renovate"
  mendRnvAcceptTos: 'y'
  mendRnvPlatform: 'github'
  config: |
    module.exports = {
      "kubernetes": {
        "fileMatch": ["\\.yaml$"]
      }
    }
  existingSecret: renovate-secret
  mendRnvCronJobSchedulerAll: '0 * * * *'
resources:
  requests:
    cpu: 250m
    memory: 2Gi
  limits:
    cpu: 1000m
    memory: 4Gi
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: node-role.kubernetes.io/control-plane
          operator: NotIn
          values:
          - "true"
