apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: kubernetes-replicator
  repo: https://helm.mittwald.de
  version: 2.12.2
  releaseName: kubernetes-replicator
  namespace: default
  valuesFile: values.yaml
