server:
  extraSecretEnvironmentVars:
  - envName: KEY1
    secretName: vault-unsealer-keys
    secretKey: KEY1
  - envName: KEY2
    secretName: vault-unsealer-keys
    secretKey: KEY2
  - envName: KEY3
    secretName: vault-unsealer-keys
    secretKey: KEY3
  postStart:
  - "/bin/sh"
  - "-c"
  - |
    echo "Waiting for the vault to be available..."
    for i in {1..30}; do
      vault status > /dev/null 2>&1 && break
      sleep 5
    done

    if vault status | grep -q 'Sealed.*false'; then
      echo "Vault already unsealed, exiting."
      exit 0
    fi

    vault operator unseal "${KEY1}"
    vault operator unseal "${KEY2}"
    vault operator unseal "${KEY3}"
