global:
  enabled: true
  tlsDisable: true

server:
  enabled: true
  livenessProbe:
    path: /v1/sys/health?standbyok=true&sealedok=true
  standalone:
    enabled: true
    config: |
      storage "file" {
        path = "/vault/data"
      }

      listener "tcp" {
        address     = "0.0.0.0:8200"
        tls_disable = 1
      }
  dataStorage:
    enabled: true
    size: 8Gi
    storageClass: nfs-sc
  resources:
    requests:
      memory: 256Mi
      cpu: 250m
    limits:
      memory: 256Mi
      cpu: 250m

injector:
  enabled: false
