alerting:
  policies.yaml:
    apiVersion: 1
    policies:
    - orgId: 1
      receiver: admin
      group_by:
      - grafana_folder
      - alertname

  contactpoints.yaml:
    apiVersion: 1
    contactPoints:
    - orgId: 1
      name: admin
      receivers:
      - uid: admin
        type: email
        settings:
          addresses: ${INFRA_ADMIN_EMAIL}
          singleEmail: true
        disableResolveMessage: false
