grafana.ini:
  smtp:
    enabled: true
    from_address: ${INFRA_ADMIN_EMAIL}

replicaCount: 1
ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  hosts:
  - grafana.${INFRA_DOMAIN}

admin:
  existingSecret: grafana-secret

smtp:
  existingSecret: grafana-smtp-secret

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: prometheus
      type: prometheus
      uid: prometheus
      access: proxy
      url: http://prometheus-server
      isDefault: true
      jsonData:
        httpMethod: POST
        manageAlerts: true
        prometheusType: Prometheus
        prometheusVersion: 2.44.0
        cacheLevel: 'Low'
        disableRecordingRules: false
    - name: loki
      type: loki
      access: proxy
      url: http://loki:3100
      orgId: 1
      basicAuth: false
      version: 1
      jsonData:
        httpHeaderName1: 'X-Scope-OrgID'
      secureJsonData:
        httpHeaderValue1: 'homelab'
    - name: Tempo
      type: tempo
      uid: tempo
      url: http://tempo:3200
      access: proxy
      basicAuth: false

dashboards:
  default:
    argocd:
      url: https://grafana.com/api/dashboards/14584/revisions/1/download
    traefik_logs:
      url: https://grafana.com/api/dashboards/17347/revisions/9/download
    traefik_metrics:
      url: https://grafana.com/api/dashboards/6293/revisions/2/download
    crowdsec:
      url: https://grafana.com/api/dashboards/21419/revisions/6/download
    falco:
      url: https://grafana.com/api/dashboards/17319/revisions/7/download

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
    - name: default
      orgId: 1
      folder: ""
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/default
