kind: Deployment
apiVersion: apps/v1
metadata:
  name: qbittorrent
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: qbittorrent
  template:
    metadata:
      labels:
        app: qbittorrent
    spec:
      initContainers:
      - name: vpn
        image: {{ .Values.vpn.image.repository }}:{{ .Values.vpn.image.tag }}
        restartPolicy: Always
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
        envFrom:
        - secretRef:
            name: qbittorrent-vpn-secret
        env:
        - name: VPN_SERVICE_PROVIDER
          value: nordvpn
        - name: VPN_TYPE
          value: wireguard
        - name: DNS_KEEP_NAMESERVER
          value: "on"
        - name: FIREWALL_OUTBOUND_SUBNETS
          value: "10.42.0.0/15"
      - name: verify-vpn
        image: busybox
        command:
        - sh
        - -c
        - |
          sleep 30
          while ! ping -c 1 8.8.8.8; do
            echo "Ping failed, retrying in 5"
            sleep 5
          done
          echo "ping succesfull, exiting"
      containers:
      - name: qbittorrent
        image: {{ .Values.qbittorrent.image.repository }}:{{ .Values.qbittorrent.image.tag }}
        ports:
        - name: web
          containerPort: 8080
        envFrom:
        - secretRef:
            name: qbittorrent-secret
        env:
        - name: QBT_WEBUI_PORT
          value: "8080"
        - name: QBT_VERSION
          value: "latest"
        - name: QUARANTINE_DIR
          value: "/quarantine"
        volumeMounts:
        - name: downloads
          mountPath: /downloads
        - name: logs
          mountPath: /var/log/cerberus
        - name: jackett-config
          mountPath: /config/jackett
        - name: qbittorrent-config
          mountPath: /config/qBittorrent
        resources:
          requests:
            memory: "1Gi"
            cpu: "100m"
          limits:
            memory: "4Gi"
            cpu: "500m"
        lifecycle:
          postStart:
            exec:
              command:
              - bash
              - -c
              - |
                touch /config/poststart.log

                echo "Fetching Jackett API key..." >> /config/poststart.log
                API_KEY="$(cat /config/jackett/Jackett/ServerConfig.json  | grep "APIKey" | cut -d':' -f2 | sed -E 's/[ |"|,]//g')"

                echo "Waiting for qBittorrent API..." >> /config/poststart.log
                until curl -s http://localhost:8080/api/v2/app/version > /dev/null; do
                  sleep 3
                done

                echo "Login to qBittorrent API..." >> /config/poststart.log
                cookie="$(curl -vi --header 'Referer: http://localhost:8080' --data "username=admin&password=${QBT_API_PASSWORD}" http://localhost:8080/api/v2/auth/login | grep -oE "SID=[^;]*")"

                echo "Update plugins..." >> /config/poststart.log
                curl -X POST -v http://localhost:8080/api/v2/search/updatePlugins --cookie "${cookie}"

                until [ -f /config/qBittorrent/data/nova3/engines/jackett.json ]; do
                  echo "Waiting for Jackett engine to be installed..." >> /config/poststart.log
                  sleep 3
                done

                echo "Configuring Jackett json file..." >> /config/poststart.log
                sed -i "s/YOUR_API_KEY_HERE/${API_KEY}/" /config/qBittorrent/data/nova3/engines/jackett.json
                sed -i "s/127.0.0.1/jackett/" /config/qBittorrent/data/nova3/engines/jackett.json
                cat /config/qBittorrent/data/nova3/engines/jackett.json >> /config/poststart.log

                echo "Jackett engine configured successfully" >> /config/poststart.log
      volumes:
      - name: downloads
        nfs:
          server: ${INFRA_DATA_NFS}
          path: /volume1/data/media/downloads
      - name: logs
        nfs:
          server: ${INFRA_DATA_NFS}
          path: /volume1/kubernetes/logs/prod/qbittorrent
      - name: qbittorrent-config
        persistentVolumeClaim:
          claimName: qbittorrent-config
      - name: jackett-config
        persistentVolumeClaim:
          claimName: jackett-config
