apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
spec:
  replicas: {{ .Values.deployment.replicas }}
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      securityContext:
        runAsRoot: false
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      automountServiceAccountToken: false
      {{- with .Values.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: jellyfin
        image: {{ .Values.deployment.image.repository }}:{{ .Values.deployment.image.tag }}
        securityContext:
          capabilities:
            drop: [ALL]
        ports:
        - containerPort: 8096
        volumeMounts:
        - mountPath: /config
          name: config
        - name: data
          mountPath: /data/media
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: jellyfin-config-pvc
      - name: data
        nfs:
          server: {{ .Values.nfs }}
          path: /volume1/data/media
