alloy:
  configMap:
    content: |-
      livedebugging {
        enabled = true
      }

      logging {
        level  = "info"
        format = "logfmt"
      }

      loki.write "default" {
        endpoint {
          url       = "http://loki:3100/loki/api/v1/push"
          tenant_id = "homelab"
        }
      }

      local.file_match "local_files" {
        path_targets = [{"__path__" = "/var/log/traefik/traefik.log"}]
        sync_period = "5s"
      }

      loki.source.file "traefik_logs" {
        targets    = local.file_match.local_files.targets
        forward_to = [loki.write.default.receiver]
        tail_from_end = true
      }
  mounts:
    extra:
    - name: traefik-logs
      mountPath: /var/log/traefik

controller:
  volumes:
    extra:
    - name: traefik-logs
      nfs:
        server: <path:secret/data/infra#k8s_nfs>
        path: /volume1/kubernetes/logs/traefik
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 512Mi
  nodeSelector:
    size: m

ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  hosts:
  - alloy.<path:secret/data/infra#env>.<path:secret/data/infra#domain>
