alloy:
  enableReporting: false
  configMap:
    content: |-
      livedebugging {
        enabled = true
      }

      logging {
        level  = "debug"
        format = "logfmt"
      }

      loki.write "default" {
        endpoint {
          url       = "http://loki:3100/loki/api/v1/push"
          tenant_id = "homelab"
        }
      }

      discovery.kubernetes "traefikPod" {
        role = "pod"

        selectors {
          role  = "pod"
          field = "spec.nodeName=" + coalesce(sys.env("HOSTNAME"), constants.hostname)
          label = "app.kubernetes.io/name=traefik"
        }

        namespaces {
          names = ["network"]
        }
      }

      loki.source.kubernetes "traefik" {
        targets = discovery.kubernetes.traefikPod.targets
        forward_to = [loki.write.default.receiver]
      }

      otelcol.receiver.otlp "default" {
        grpc {
          endpoint = "0.0.0.0:4317"
        }

        http {
          endpoint = "0.0.0.0:4318"
        }

        output {
          metrics = []
          logs    = []
          traces  = [otelcol.processor.batch.default.input]
        }
      }

      otelcol.processor.batch "default" {
        output {
          metrics = []
          logs    = []
          traces  = [otelcol.exporter.otlphttp.default.input]
        }
      }

      otelcol.exporter.otlphttp "default" {
        client {
          endpoint = "http://tempo:4318"
          tls {
            insecure             = true
            insecure_skip_verify = true
          }
        }
      }
  extraPorts:
  - name: otlp-grpc
    port: 4317
    targetPort: 4317
    protocol: TCP
  - name: otlp-http
    port: 4318
    targetPort: 4318
    protocol: TCP
controller:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 512Mi
  tolerations:
  - key: "role"
    operator: "Equal"
    value: "cp"
    effect: "NoSchedule"
