alloy:
  configMap:
    content: |-
      livedebugging {
        enabled = true
      }

      logging {
        level  = "info"
        format = "logfmt"
      }

      loki.write "default" {
        endpoint {
          url       = "http://loki:3100/loki/api/v1/push"
          tenant_id = "homelab"
        }
      }


      loki.source.kubernetes "traefik" {
        namespaces = ["network"]
        labels = {
          app = "traefik"
        }

        forward_to = [loki.write.default.receiver]
      }
  mounts:
    extra:
    - name: varlog
      mountPath: /var/log
    - name: containers
      mountPath: /var/log/containers
      readOnly: true
controller:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 512Mi
  nodeSelector:
    size: m

ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  hosts:
  - alloy.${INFRA_DOMAIN}
