alloy:
  configMap:
    content: |-
      livedebugging {
        enabled = true
      }

      logging {
        level  = "info"
        format = "logfmt"
      }

      loki.write "default" {
        endpoint {
          url       = "http://loki:3100/loki/api/v1/push"
          tenant_id = "homelab"
        }
      }

      discovery.kubernetes "traefikPod" {
        role = "pod"

        selectors {
          role  = "pod"
          field = "spec.nodeName=" + coalesce(sys.env("HOSTNAME"), constants.hostname)
          label = "app.kubernetes.io/name=traefik"
        }

        namespaces {
          names = ["network"]
        }
      }

      loki.source.kubernetes "traefik" {
        targets = discovery.kubernetes.traefikPod.targets
        forward_to = [loki.write.default.receiver]
      }
controller:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 512Mi
  tolerations:
  - key: "role"
    operator: "Equal"
    value: "cp"
    effect: "NoSchedule"
