server:
  persistentVolume:
    enabled: true
    size: 8Gi
    storageClass: nfs-sc
  extraArgs:
    web.enable-remote-write-receiver: ""
  resources:
    requests:
      cpu: 250m
      memory: 1Gi
    limits:
      cpu: 1000m
      memory: 2Gi
  nodeSelector:
    size: m
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: true
    hosts:
    - prometheus.${INFRA_DOMAIN}

alertmanager:
  enabled: false

kube-state-metrics:
  enabled: true

prometheus-node-exporter:
  enabled: true

prometheus-pushgateway:
  enabled: false
