apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: cilium
  repo: oci://quay.io/cilium/charts
  version: 1.19.1
  releaseName: cilium
  namespace: network
  valuesInline:
    operator:
      replicas: 1
