apiVersion: apps/v1
kind: Deployment
metadata:
  name: nfs-client-provisioner
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.deployment.replicas }}
  selector:
    matchLabels:
      app: nfs-client-provisioner
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
    spec:
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: nfs-client-provisioner
      containers:
      - name: nfs-client-provisioner
        image: {{ .Values.deployment.image.repository }}:{{ .Values.deployment.image.tag }}
        volumeMounts:
        - name: nfs-client-root
          mountPath: /persistentvolumes
        env:
        - name: PROVISIONER_NAME
          value: nfs.csi.k8s.io
        - name: NFS_SERVER
          value: {{ .Values.deployment.nfs_ip }}
        - name: NFS_PATH
          value: {{ .Values.deployment.nfs_path }}
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 100m
            memory: 128Mi
      volumes:
      - name: nfs-client-root
        nfs:
          server: {{ .Values.deployment.nfs_ip }}
          path: {{ .Values.deployment.nfs_path }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
