configs:
  params:
    server.insecure: true
  clusterCredentials:
    homelab:
      server: https://kubernetes.default.svc
      config:
        tlsClientConfig:
          insecure: true
  secret:
    createSecret: false
  cmp:
    create: true
    plugins:
      infra-envsubst:
        generate:
          command:
          - bash
          - "-c"
          - |
            set -e
            echo "Replacing env vars in manifests" >&2
            if [[ -f kustomization.yaml ]]; then
              kustomize build . --enable-helm | envsubst '${INFRA_DOMAIN} ${INFRA_K8S_NFS} ${INFRA_DATA_NFS} ${INFRA_LB_IP}'
            else
              echo "[!] Error during infra variables substitution" >&2
              exit 1
            fi

dex:
  enabled: false

redis:
  enabled: true

controller:
  replicas: 1

server:
  replicas: 1
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    tls: true

repoServer:
  replicas: 1
  rbac:
  - verbs:
    - get
    apiGroups:
    - ''
    resources:
    - configmaps
  volumes:
  - name: cmp-plugin
    configMap:
      name: argocd-cmp-cm
  - name: envsubst
    emptyDir: {}
  initContainers:
  - name: download-envsubst
    image: debian:stable-slim
    command: [sh, -c]
    args:
      - |
        set -ex

        apt-get update && apt-get download gettext-base
        ar x gettext-base_*.deb

        tar -xvf data.tar.xz ./usr/bin/envsubst
        mv usr/bin/envsubst /envsubst/envsubst
    volumeMounts:
    - mountPath: /envsubst
      name: envsubst
  extraContainers:
  - name: infra-envsubst
    command: [/var/run/argocd/argocd-cmp-server]
    image: quay.io/argoproj/argocd:v3.2.5
    securityContext:
      runAsNonRoot: true
      runAsUser: 999
    envFrom:
    - configMapRef:
        name: infra-config
    volumeMounts:
    - mountPath: /var/run/argocd
      name: var-files
    - mountPath: /home/argocd/cmp-server/plugins
      name: plugins
    - mountPath: /home/argocd/cmp-server/config/plugin.yaml
      subPath: infra-envsubst.yaml
      name: cmp-plugin
    - mountPath: /usr/local/bin/envsubst
      subPath: envsubst
      name: envsubst
  automountServiceAccountToken: true

applicationSet:
  replicas: 1

global:
  domain: cd.${INFRA_DOMAIN}
