configs:
  params:
    server.insecure: true
  clusterCredentials:
    homelab:
      server: https://kubernetes.default.svc
      config:
        tlsClientConfig:
          insecure: true
  secret:
    createSecret: false
  cmp:
    create: true
  cm:
    resource.customizations: |
      argoproj.io/Application:
        health.lua: |
          hs = {}
          hs.status = "Progressing"
          hs.message = ""
          if obj.status ~= nil then
            if obj.status.health ~= nil then
              hs.status = obj.status.health.status
              if obj.status.health.message ~= nil then
                hs.message = obj.status.health.message
              end
            end
          end
          return hs
    resource.customizations.ignoreDifferences.admissionregistration.k8s.io_ValidatingWebhookConfiguration: |
      jqPathExpressions:
      - .webhooks[] | select((.name == "validation.istio.io") or .name == "rev.validation.istio.io") | .failurePolicy

dex:
  enabled: false

redis:
  enabled: true

controller:
  replicas: 1

server:
  replicas: 1
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    tls: true

repoServer:
  replicas: 1
  rbac:
  - verbs:
    - get
    apiGroups:
    - ''
    resources:
    - configmaps
  volumes:
  - configMap:
      name: infra-envsubst-config
    name: infra-envsubst-config
  - emptyDir: {}
    name: custom-tools
  initContainers:
  - name: download-envsubst
    image: ubuntu:latest
    command: ["sh", "-ce"]
    args:
      - |
        apt-get update && \
          apt-get install -y binutils curl xz-utils

        curl http://ftp.de.debian.org/debian/pool/main/g/gettext/gettext-base_0.23.2-1_amd64.deb -o gettext.deb

        ar x gettext.deb
        tar -xf data.tar.* ./usr/bin/envsubst

        cp usr/bin/envsubst /custom-tools/envsubst
        chmod +x /custom-tools/envsubst
    volumeMounts:
    - mountPath: /custom-tools
      name: custom-tools
  extraContainers:
  - name: infra-envsubst
    command: [/var/run/argocd/argocd-cmp-server]
    image: quay.io/argoproj/argocd:v3.3.0
    securityContext:
      runAsNonRoot: true
      runAsUser: 999
    envFrom:
    - configMapRef:
        name: infra-config
    volumeMounts:
    - mountPath: /var/run/argocd
      name: var-files
    - mountPath: /home/argocd/cmp-server/plugins
      name: plugins
    - mountPath: /home/argocd/cmp-server/config/plugin.yaml
      subPath: plugin.yaml
      name: infra-envsubst-config
    - mountPath: /usr/local/bin/envsubst
      subPath: envsubst
      name: custom-tools
  automountServiceAccountToken: true

applicationSet:
  replicas: 1

global:
  domain: cd.${INFRA_DOMAIN}
