name: Validate Kubernetes Manifests

on:
  pull_request:
  push:
    branches:
    - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate-k8s-manifests:
    uses: home-kops/actions/.github/workflows/validate-k8s-manifests.yaml@main

  notify-result:
    runs-on: ubuntu-latest
    needs: validate-k8s-manifests
    if: ${{ always() && github.event_name == 'push' }}
    steps:
    - name: Send job result to slack
      uses: slackapi/slack-github-action@v2.1.1
      with:
        webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
        webhook-type: incoming-webhook
        payload: |
          text: "\"${{ github.event.head_commit.message }}\" was merged to main with result: *${{ needs.validate-k8s-manifests.result }}*"
